worker_processes 1;
error_log stderr notice;
daemon off;

events {
  worker_connections 1024;
}

http {
  lua_package_path ";;./lua/src/lib/plugins/?.lua;./lua/src/lib/?.lua;./lua/conf/?.lua;./lua/src/bin/?.lua";

  resolver 8.8.8.8;

  init_by_lua_file './lua/src/bin/init_redx.lua';

  upstream fallback {
    server localhost:7700;
  }

  server {
    # API

    listen 8081;
    lua_code_cache off;

    location / {
      default_type application/json;
      content_by_lua_file "./lua/src/bin/api.lua";
    }
  }

  server {
    # MAIN

    listen 8080;
    lua_code_cache off;

    proxy_read_timeout 300;
    proxy_connect_timeout 3;
    proxy_buffering off;

    set $upstream 'fallback';

    location / {
      default_type application/json;
      access_by_lua_file "./lua/src/bin/main.lua";
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-For "$proxy_add_x_forwarded_for";
      proxy_intercept_errors on;
      error_page 504 502 = @fallback;
      proxy_pass http://$upstream;
    }

    location @fallback {
      proxy_pass http://fallback;
    }
  }
}
